
.homepage {
 .scenari-img {
   width: 100%;
   position: relative;
   height: 100%;
   img {
     width: 100%;
   }
   .scenari-title {
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50% , -50%);
     text-align: center;
     color: #fff;
     height: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
   }
 }
 main {
   ul {
     // .column-scenario{
     //   display: flex;
     //   // justify-content: center;
     //   align-items: center;
       li {
         color:$azzurro;
         list-style-type: none;
         width: 100%;
         text-size-adjust: auto;
         // height: 100%;
         display: flex;
         flex-direction: column;
         justify-content: center;
         img {
           width: 100%;
         }
         p {
           color:#000;
           margin:20px 0 40px 0;
         }
         .btn-scenario {
           background: $azzurro;
           color:#fff;
           padding: 10px 20px;
         }
         .scenari-text {
           width: 80%;
           margin: 0 auto;
         }
       }
     // }
   }
 }
}

@media screen and (max-width:1200px) {
  .flex-reverse {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width:992px) {
  .flex-reverse {
    flex-direction: column-reverse;
  }
}
